body {
    margin: 0;
    padding: 0;
}
/*********** Some Defaults --------------*/

h2 {
    font-family: "Alkatra", sans-serif;
    text-align: center;
    padding: 1rem 0;
}

h4 {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
}


button.accordion-button {
    font-size: 1.2rem;
}

p {
    font-family: "Ubuntu", sans-serif;
}

/*************** Navigation Bar ****************/
#navigation {
    background-color: #0d6efd;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.navbar-brand {
    font-size: 1.4em;
}
.blog-link {
    color: #B08A1A;
}

.blog-link:hover {
    color: #FC4F19;
}


/**************** Website Title or Header ****************/
#header {
    margin: auto;
    padding: 6% 2rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 5;
}

#header h1 {
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#header h2 {
    font-family: "Alkatra", sans-serif;
    font-style: italic;
    padding-bottom: 1.5rem;
}
#header .avatar {
    border-radius: 50%;
    width: max(25%, 200px);
}

/********** Introduction ************/

#introduction .container-fluid {
    background-color: #0d6efd;
    color: #EEEEEE;
    padding: 5% 20%;
    text-align: center
}

#introduction p {
    text-align: left;
}




/******** APPS ****************/
#apps .container-fluid {
    padding: 5% 20%;
    text-align: center;
}

/****** WEBSITES ***************/
#websites .container-fluid {
    padding: 5% 20%;
    text-align: center;
    background-color: #0d6efd;
    color: #EEEEEE;
}

#websites .accordion-item, #websites .accordion-button {
    background-color: #0d6efd;
    color: #EEEEEE;
}

#websites a {
    color: #DDDDDD;
}

#websites a:hover {
    color: white;
}
#games .container {
    padding: 5% 12%;
    text-align: center;
}

#contact-me .container-fluid {
    background-color: #0d6efd;
    color: #EEEEEE;
    padding: 2% 20% 0;
    text-align: center;
}

#contact-me .accordion-button, #contact-me .accordion-item {
    background-color: #0d6efd;
    color: #EEEEEE;
}
#contact-me span {
    background-color: #EEEEEE;
    color: cornflowerblue;
    border-radius: 5px;
    padding: 2px 7px;
    font-size: 1.4rem;
}

#contact-me form :not(.btn) {
    text-align: left;
}

#contact-me label {
    padding-bottom: 3px;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

#contact-me textarea {
    height: 12rem;
}

/************ Footer **********/


footer {
    padding-top: 0;
    background-color: #0d6efd;
    color: #EEEEEE;
}
footer p {
    color: lightblue;
    text-align: center;
    line-height: 2;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8rem;
}