<section id="apps">
  <div class="container">
    <h2> Apps </h2>
    <h4> Python programs, scripts and apps written by me.</h4>
    <div class="accordion accordion-flush mx-auto" id="appsAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="appFlush-headingOne">
          <button class="accordion-button d-block text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#appFlush-collapseOne" aria-expanded="false" aria-controls="appFlush-collapseOne">
            This Website
          </button>
        </h2>
        <div id="appFlush-collapseOne" class="accordion-collapse collapse" aria-labelledby="appFlush-headingOne" data-bs-parent="#appsAccordion">
          <div class="accordion-body">
            <p>This website is an example of Flask app. </p>
              <a href="https://github.com/shubhenduanupamdutta/Portfolio_02_Portfolio_Website" target="_blank">
                <i class="fa-brands fa-github"></i> &nbsp; GitHub Repo for the website.
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="appFlush-headingTwo">
          <button class="accordion-button d-block text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#appFlush-collapseTwo" aria-expanded="false" aria-controls="appFlush-collapseTwo">
            Text To Morse Code Converter
          </button>
        </h2>
        <div id="appFlush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="appFlush-headingTwo" data-bs-parent="#appAccordion">
          <div class="accordion-body">
            <p>I wrote a simple python script which takes english (latin characters and some special one) as input and outputs morse code. </p>
            <a href="https://github.com/shubhenduanupamdutta/Portfolio_01_Text_To_Morse" target="_blank">
              <i class="fa-brands fa-github"></i> &nbsp; GitHub Repo containing the script.
            </a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="appFlush-headingThree">
          <button class="accordion-button d-block text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#appFlush-collapseThree" aria-expanded="false" aria-controls="appFlush-collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="appFlush-collapseThree" class="accordion-collapse collapse" aria-labelledby="appFlush-headingThree" data-bs-parent="#appsAccordion">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
    </div>

  </div>
</section>
