<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block head %}{% endblock %}</title>
  {% block styles %}
    {{ bootstrap.load_css() }}
  {% endblock %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/favicon-64x64.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href={{ url_for('static', filename='favicon/favicon-32x32.png') }}>
  <link rel="icon" type="image/png" sizes="16x16" href={{ url_for('static', filename='favicon/favicon-16x16.png') }}>
  <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/e8f916ca47.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- Navigation -->


  {% block content %}{% endblock %}

  {% block scripts %}
    {{ bootstrap.load_js() }}
  {% endblock %}
</body>
</html>