<section id="games">
  <div class="container">
    <h2> Games </h2>
    <h4> Small games created by me, during the course and after it.</h4>
    <div class="accordion accordion-flush mx-auto" id="gamesAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="gamesFlush-headingOne">
          <button class="accordion-button d-block text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamesFlush-collapseOne" aria-expanded="false" aria-controls="gamesFlush-collapseOne">
            Guess states of India
          </button>
        </h2>
        <div id="gamesFlush-collapseOne" class="accordion-collapse collapse" aria-labelledby="gamesFlush-headingOne" data-bs-parent="#gamessAccordion">
          <div class="accordion-body">
            <p> Inspired by US states game, created a game for guessing states of India, using Turtle </p>
              <a href="https://replit.com/@Shubhendu-Anupa/IndianStateGuessbyShubhendu?v=1" target="_blank">
                <i class="fa-solid fa-gamepad"></i> &nbsp; Replit link for game.
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="gamesFlush-headingTwo">
          <button class="accordion-button d-block text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamesFlush-collapseTwo" aria-expanded="false" aria-controls="gamesFlush-collapseTwo">
            Higher Lower Game
          </button>
        </h2>
        <div id="gamesFlush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="gamesFlush-headingTwo" data-bs-parent="#gamesAccordion">
          <div class="accordion-body">
            <p> This was a very basic game of higher lower,  made as an example of using Flask </p>
            <a href="https://HigerLowerGame.shubhendu-anupa.repl.co" target="_blank">
              <i class="fa-solid fa-gamepad"></i> &nbsp; Replit link for game.
            </a>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="gamesFlush-headingThree">
          <button class="accordion-button d-block text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#gamesFlush-collapseThree" aria-expanded="false" aria-controls="gamesFlush-collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="gamesFlush-collapseThree" class="accordion-collapse collapse" aria-labelledby="gamesFlush-headingThree" data-bs-parent="#gamessAccordion">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting hgamesening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world gameslication.</div>
        </div>
      </div>
    </div>

  </div>
</section>