{% extends 'base.html' %}

{% block content %}
  <!-- Header -->
  <section id="header">
    <div class="container">
      <h1> Materials Engineer, Python Developer</h1>
      <h2> This webpage showcases some of my projects</h2>
      <img class='avatar' src="{{ url_for('static', filename='images/my-avatar.png') }}" alt="my-avatar">
    </div>
  </section>

  {% include 'my-intro.html' %}
  {% include 'apps.html' %}
  {% include 'websites.html' %}
  {% include 'games.html' %}

  <section id="contact-me">
  <div class="container-fluid">
    <div class="accordion accordion-flush mx-auto" id="contactAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="contactFlush-headingOne">
          <button class="accordion-button d-block text-center collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#contactFlush-collapseOne" aria-expanded="false" aria-controls="contactFlush-collapseOne">
            <span>Contact Me</span>
          </button>
        </h2>
        <div id="contactFlush-collapseOne" class="accordion-collapse collapse" aria-labelledby="contactFlush-headingOne" data-bs-parent="#contactAccordion">
          <div class="accordion-body">
            {% from 'bootstrap/form.html' import render_form %}
            {{ render_form(form, novalidate=True, button_map={"submit": "light"}) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endblock %}