<section id="introduction">
  <div class="container-fluid">
    <h2> Namaste, I am Shubhendu. </h2>
    <p> I am a materials engineer by education. I had to do some simulation which were written in Python. So I had to learn
        it. However, I got so hooked that I am completing 100 Days of Coding, Python Bootcamp by Angela @AppBrewery on Udemy.
        In the course of the bootcamp I have created many apps, written scripts, created websites and more. Some of them I
        am showing off below. Hope you like it.</p>
  </div>
</section>